#home {
  width: 100%;
  height: 100%;
  .full-name {
    cursor: default;
    text-align: center;
    margin: auto;
    text-shadow: none;
    font-weight: 300;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
  }
  .louis-text {
    padding-left: 20px;
    padding-top: 90px;
    padding-bottom: 60px;
    color: white;
  }
  .maliyam-text {
    padding-right: 20px;
    padding-top: 90px;
    padding-bottom: 60px;
    transition: 0.4s;
    &:hover {
      color: white !important;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0) !important;
    }
  }
  .lm-hero {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .lm-content {
    width: 100%;
    height: 100%;
  }
}