.hamburger-menu {
  cursor: pointer;
  fill: none;
  margin: auto 0;
  z-index: 101;
  padding: 14px;
  border-radius: 50%;
  border-width: 0;
  transition: 0.3s;
  background: none;
  outline: none;
  mix-blend-mode: difference;
  path {
    transition: d 0.3s, opacity 0.3s;
  }
  &.clicked {
    :nth-child(1) {
      d: path("M3,4 l8 6");
    }
    :nth-child(2) {
      opacity: 0;
    }
    :nth-child(3) {
      d: path("M11 4 l-8 6");
    }
  }
  &:hover {
    background-color: white;
    border-radius: 50%;
    path {
      stroke: black;
    }
  }
}