.lm-logo {
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
  margin: auto 0;
  path {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.5;
  }
  &:hover {
    transform: translate3d(10px, 0, 0);
  }
}