.transition-images-container {
  .transition-image-container {
    position: absolute;
    margin: 5vh 0;
    right: 90px;
    height: 90%;
    width: fit-content;
    .transition-image-current {
      position: relative;
      height: 100%;
      z-index: 1;
      border-radius: 10px;
    }
    
    .transition-image-next {
      position: relative;
      height: 100%;
      z-index: 2;
      border-radius: 10px;
    }
  }

  .transition-image-container:nth-child(2) {
    clip-path: inset(100% 0 0 0);
  }
}



// .lm-content-item-grid-right-2 {
//   position: absolute;
//   margin: 5vh 0;
//   right: 90px;
//   height: 90%;
//   // width: 100%;
//   // min-height: 90%;
//   // background-attachment: fixed;
//   // background-position: center;
//   // background-repeat: no-repeat;
//   // background-size: contain;
//   z-index: 2;
//   clip-path: inset(100% 0 0 0);
//   //animation: wave 4s ease-in-out infinite;
// }

// .lm-content-img-2 {
//   position: relative;
//   height: 100%;
// }