@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Poppins&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}